.hero {
    background-color: $gray;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__img {
        margin-left: -230px;
        width: 800px;
        height: 764px;
    }

    &__title {
        margin-left: 92px;
        @include font (48px, 58px, 900);
        text-transform: uppercase;
        position: relative;

        &::after {
            content: '';
            width: 12px;
            height: 92px;
            position: absolute;
            top: 5px;
            left: -28px;
            background-color: $pink;
        }
    }

    &__subtitle {
        display: block;
        font-size: 37px;
        font-weight: 700;
        line-height: 44px; 
    }

    &__pink {
        color: $pink;
        font-size: 37px;
        font-weight: 700;
        line-height: 44px; 
    }
}

@media (max-width: 1140px) {
    .hero {

        &__container {
            margin: 0;
        }
           
        &__img {
            margin-left: 0;
            width: 386px;
            height: 368px;
        }
    
        &__title {
            margin-left: 67px;
            @include font (44px, 53px, 900);
            margin-right: 32px;
        }

        &__subtitle {
            @include font (24px, 29px, 700);
        }

        &__pink {
            @include font (24px, 29px, 700);
        }
    }
    
}

@media (max-width: 767px) {
    .hero {
           
        &__img {
            display: none;
        }

        &__container {
            height: 363px;
            justify-content: center;
            margin-bottom: 32px;
        }

        &__title {
            margin-left: 67px;
            @include font (38px, 46px, 900);
        }

        &__subtitle {
            @include font (20px, 24px, 700);
        }

        &__pink {
            @include font (20px, 24px, 700);
        }
    }
}