.service {
    background-color: $black;

    &__list {
        min-height: 341px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        text-align: center;
        width: 360px;
        height: 134px;
    }

    &__img {
        width: 45px;
        height: 32px;

        &:hover {
            outline: 1px solid $pink;
        }

        &:focus {
            outline: 1px solid $pink;
        }

        &:active {
            outline: 1px solid $pink;
        }
    }

    &__subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: $dark-white;
        margin: 25px 0 16px 0;
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: $dark-white;
    }
}

@media (max-width: 1140px) {
    .service {
       
        &__list {
            flex-direction: column;
            padding-top: 48px;
            padding-bottom: 64px;
        }
    }
}

@media (max-width: 767px) {
    .service {
       
        &__list {
            padding-bottom: 81px;
        }
    }
}