.header {
    background-color: $black;
    height: 75px;
    display: flex;
    align-items: center;
    
    &__menu {
        margin: 0 16px;
        display: flex;
        align-items: center;
    }

    &__btn-cart{
        width: auto;
        height: auto;
    }
}