.product-item {
    background-color: #f8f8f8;
    max-width: 270px;
    // height: 400px;
    border: solid 1px;
    box-shadow: 5px;
    display: flex;
    flex-direction: column;

    &__photo {
        max-width: 270px;

    }

    &__title{
        padding: 20px;
        @include font(17px, 17px, 400)
    }

    &__price {
        padding: 20px;
        @include font(17px, 17px, 400);
        color: $pink;
    }

    &__buy-btn{
        width: 70px;
        margin: 0 auto 20px;
    }
}